

<div class="jumbotron bg-light">
  <h2 class="display-6">Projects</h2>
  <p class="lead">These are some basic Websites which I made to learn different programming languages</p>
</div>

<div class="container-fluid">
		<div class="row">
         
         <div class="col-lg-4 col-md-4 col-12">
                <div class="card" style="height:27rem;">
                 <img class="card-img-top" height="230px" src="/Assets/images/w1.jpg" alt="Card image">
                 <div class="card-body text-center">
                   <h5 class="card-title">Website: Movies</h5>
                   <p class="card-text">Simple website of downloading different movies, series and songs with links </p>
                   <a href="https://github.com/YashKachhiyaPatel/Movies" class="btn btn-primary">Goto Source</a>
                 </div>
                </div>
         </div>
          <div class="col-lg-4 col-md-4 col-12">
                <div class="card" style=" height:27rem;">
                 <img class="card-img-top" height="230px" src="/Assets/images/w2.jpg" alt="Card image">
                 <div class="card-body text-center">
                   <h5 class="card-title">Website: Human-Calculator</h5>
                   <p class="card-text">Website to do calculation of random numbers within limited time and users can compare their score with others.</p>
                   <a href="https://github.com/YashKachhiyaPatel/Human-Calculator" class="btn btn-primary">Goto Source</a>
                 </div>
                </div>
         </div>
         <div class="col-lg-4 col-md-4 col-12">
       <div class="card " style=" height:27rem;" >
                 <img class="card-img-top" height="230px" src="/Assets/images/w3.jpg" alt="Card image">
                 <div class="card-body text-center">
                   <h5 class="card-title">Website: Magic</h5>
                   <p class="card-text">Make simple website of math game that tells number that user think at the begining.</p>
                   <a href="https://github.com/YashKachhiyaPatel/Magic" class="btn btn-primary">Goto Source</a>
                 </div>
                </div>
           </div>
          
      </div>
	</div>

  