<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/Content/app.css">
</head>
<body>
  <!-- Navigation Section -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
      <img src="/Assets/images/logo.jpg" alt="YASH" width="160" height="40" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/home"><i class="fas fa-home fa-lg"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-info fa-lg"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects active"><i class="fas fa-cog fa-lg"></i> Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services"><i class="fas fa-map fa-lg"></i> Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fas fa-phone fa-lg"></i> Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="jumbotron bg-light">
  <h2 class="display-4">Projects</h2>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>

<div class="container-fluid">
		<div class="row">
         
         <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                 <img class="card-img-top" height="250px" src="/Assets/images/w1.jpg" alt="Card image">
                 <div class="card-body text-center">
                   <h5 class="card-title">Website: Movies</h5>
                   <a href="https://github.com/YashKachhiyaPatel/Movies" class="btn btn-primary">Goto Source</a>
                 </div>
                </div>
         </div>
          <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                 <img class="card-img-top" height="250px" src="/Assets/images/w2.jpg" alt="Card image">
                 <div class="card-body text-center">
                   <h5 class="card-title">Website: Human-Calculator</h5>
                   <a href="https://github.com/YashKachhiyaPatel/Human-Calculator" class="btn btn-primary">Goto Source</a>
                 </div>
                </div>
         </div>
         <div class="col-lg-4 col-md-4 col-12">
       <div class="card">
                 <img class="card-img-top" height="250px" src="img/fvf.jpg" alt="Card image">
                 <div class="card-body text-center">
                   <h5 class="card-title">Ford V Ferrari</h5>
                   <a href="https://123mkv.pro/2019-movies/ford-v-ferrari-full-movie-download-free-hd/" class="btn btn-primary">Download</a>
                 </div>
                </div>
           </div>
          
      </div>
	</div>

  
  <!-- Bottom Nav -->

  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid text-center">
      <h5>&copy; yashkachhiyapatel</h5>
    </div>
  </nav>
    
  <!-- JavaScript Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>
